*{
    margin: 0;  
    padding: 0;  
    font-family: Arial, Helvetica, sans-serif;
   
}

p{
   margin: 5px;
}


.marca{
    color: yellow;

}

.marca:hover{
   color: green;
}


.as{
    color: purple;
}


.as:hover{
   color: red;
}